<h2 class="content-block">Productos </h2>
<div class="content-block">

    <div id="data-grid-demo">
        <dx-data-grid id="gridContainer" #dataGridRef [dataSource]="dataSourceProductoLista" keyExpr="id"
            [showBorders]="true">

            <dxo-paging [enabled]="false"></dxo-paging>
<!-- 
            <dxi-column type="buttons" [width]="110">
                <dxi-button name="edit"></dxi-button>
            </dxi-column> -->
            <dxi-column dataField="id" caption="#" [width]="70"></dxi-column>
            <dxi-column dataField="nombre"></dxi-column>
            <dxi-column dataField="referencia"></dxi-column>
            <dxi-column dataField="numeroProductos"></dxi-column>
            <dxi-column dataField="fechaIngreso" dataType="date"></dxi-column>
        </dx-data-grid>
    </div>
</div>

 