 
<h2 class="content-block">Ventas</h2>
<div class="content-block">
    <dx-button text="Crear Venta" (onClick)="popupCrearVentaActivar('hola')" type="success" icon="plus"> </dx-button>
    <div id="data-grid-demo">
        <dx-data-grid id="gridContainer" #dataGridRef [dataSource]="dataSourceVentas" keyExpr="id" [showBorders]="true"
            (onEditingStart)="onEditingStart($event)">

            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-editing mode="row" [allowUpdating]="true" [useIcons]="true">
                <dxo-popup title="Venta" [showTitle]="true" [width]="700" [height]="525">
                </dxo-popup>
                <dxo-form [formData]="selectVentaLista">
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                        <dxi-item dataField="cliente.nombre"></dxi-item>
                        <dxi-item dataField="cliente.apellido"></dxi-item>
                        <dxi-item dataField="fehcaVenta"></dxi-item>

 
                    </dxi-item>
                    <dxi-item itemType="group" caption="Productos" [colCount]="2" [colSpan]="2">
                        <dxi-item *ngFor="let item of selectVentaListaProducto" [colSpan]="2">
                           
                            <div class="dx-field">
                                 <div class="dx-field-value">
                                    <dx-select-box (onValueChanged)="onValueChanged($event)"
                                        [dataSource]="listaProductos" valueExpr="id" [grouped]="true"
                                        displayExpr="serie" [value]="item.productoId">
                                    </dx-select-box>
                                </div>
                            </div>
                        </dxi-item>
                    </dxi-item>
 
                    <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions">
                    </dxi-item>
                </dxo-form>
            </dxo-editing>
            <dxi-column type="buttons" [width]="110">
                <dxi-button name="edit"></dxi-button>
             </dxi-column>
            <dxi-column dataField="id" caption="#" [width]="70"></dxi-column>
            <dxi-column dataField="cliente.nombre"></dxi-column>
            <dxi-column dataField="cliente.apellido"></dxi-column>
            <dxi-column dataField="fehcaVenta" dataType="date"></dxi-column>
        </dx-data-grid>
    </div>
</div> 
<dx-popup [showTitle]="true" title="Venta Editar" [dragEnabled]="true" [closeOnOutsideClick]="true"
    [(visible)]="popupVisible" [width]="890" [height]="625">
    <dx-scroll-view width="100%" height="100%">
        <form action="your-action" (submit)="onFormSubmit($event)">
            <dx-form id="form" [colCount]="2" [formData]="selectVentaLista" ngSubmit="onFormSubmit($event)">
                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                    <dxi-item [editorOptions]="{ disabled: true }" dataField="cliente.nombre"></dxi-item>
                    <dxi-item [editorOptions]="{ disabled: true }" dataField="cliente.apellido"></dxi-item>
                    <dxi-item dataField="fehcaVenta" editorType="dxDateBox"></dxi-item>
                </dxi-item>
                <dxi-item itemType="group" caption="Productos" [colCount]="2" [colSpan]="2">
                    <dxi-item *ngFor="let item of selectVentaListaProducto">
                        <div class="dx-field">
                            <dxi-item dataField="StateID">{{item.producto.nombre}} - Referencia:
                                {{item.producto.referencia}}</dxi-item>
                            <div class="dx-field-value">
                                <dx-select-box (onValueChanged)="onValueChanged($event)" IDVenta=`${item}`
                                    [dataSource]="listaProductos" valueExpr="id" [grouped]="true" displayExpr="serie"
                                    [value]="item">
                                </dx-select-box>
                            </div>
                        </div>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions"></dxi-item>
            </dx-form>
        </form>
    </dx-scroll-view>
</dx-popup>

<dx-popup [showTitle]="true" title="Venta Crear" [dragEnabled]="true" [closeOnOutsideClick]="true"
    [(visible)]="popupCrearVenta" [width]="890" [height]="625">
    <dx-scroll-view width="100%" height="100%">
        <form action="your-action" (submit)="onCrearVenta($event)">
            <dx-form id="form" [colCount]="2" [formData]="crearVenta" ngSubmit="onCrearVenta($event)">
                <dxi-item itemType="group" caption="Buscar Cliente" [colCount]="2" [colSpan]="2">
                    <div class="dx-field">
                        <div class="dx-field-label">Clientes:</div>
                        <div class="dx-field-value">
                            <dx-select-box (onValueChanged)="onSelectCliente($event)" [dataSource]="dataListaClientes"
                                displayExpr="identificacion" valueExpr="id" [value]="clientes"></dx-select-box>
                        </div>
                    </div>
                </dxi-item>
                <dxi-item itemType="group" caption="Cliente" [colCount]="2" [colSpan]="2">
                    <dxi-item [editorOptions]="{ disabled: true }" dataField="cliente.nombre"></dxi-item>
                    <dxi-item  [editorOptions]="{ disabled: true }" dataField="cliente.apellido"></dxi-item>
                    <dxi-item dataField="fehcaVenta" editorType="dxDateBox">
                        <dxi-validation-rule type="required" message="se requiere fecha para continuar ">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group" caption="Productos" [colCount]="2" [colSpan]="2">
                    <div class="dx-field">
                        <div class="dx-field-value">
                            <dx-select-box (onValueChanged)="agregarProducto($event)" [dataSource]="listaProductos"
                                valueExpr="id" [grouped]="true" displayExpr="serie">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-value">
                            <dx-select-box (onValueChanged)="agregarProducto($event)" [dataSource]="listaProductos"
                                valueExpr="id" [grouped]="true" displayExpr="serie">
                            </dx-select-box>
                        </div>
                    </div>
                </dxi-item>
                <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions"></dxi-item>
            </dx-form>
        </form>
    </dx-scroll-view>
</dx-popup>